.u-section-1 .u-sheet-1 {
  min-height: 950px;
}

.u-section-1 .u-image-1 {
  width: 673px;
  height: 673px;
  margin: 159px 211px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -664px 417px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 164px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -670px;
    margin-right: 344px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -673px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -340px;
  }
}